<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/app.css')}}">
    <link rel="shortcut icon" href="{{ url_for ('static', filename='assets/Asset 2.png')}}" type="image/x-icon">
    <title>{% block title %}{% endblock %} Welcome </title>
</head>
<body>
    <header>
        <div class="links">
            <ul>
                <li><a href="/"><img src="{{ url_for ('static', filename='assets/landscape-logo.svg')}}" width="18%" alt=""></a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <label class="switch">
            <input type="checkbox" id="theme-toggle" onclick="toggleTheme()">
            <span class="slider"></span>
        </label>
    </header>
    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="{{url_for('static', filename='js/app.js') }}"></script>
</body>
</html>